$dg: hsl(0, 0%, 63%);
$blk: hsl(0, 0%, 0%);
$wht: hsl(0, 0%, 100%);
$vdg: hsl(0, 0%, 27%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin media-md {
    @media screen and (min-width: 768px){
        @content;
    }
}